pipeline/kestra_flows/08_gcp_taxi_with_subflows.yml
id: 08_gcp_taxi_with_subflows
namespace: zoomcamp
description: |
  The CSV Data used in the course: https://github.com/DataTalksClub/nyc-tlc-data/releases

inputs:
  - id: taxi
    type: SELECT
    displayName: Select taxi type
    values: [ yellow, green ]
    defaults: green

  - id: year
    type: SELECT
    displayName: Select year
    values: [ "2019", "2020", "2021" ]
    defaults: "2019"
    allowCustomValue: true # allows you to type 2021 from the UI for the homework 🤗

  - id: month
    type: SELECT
    displayName: Select month
    values: [ "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12" ]
    defaults: "01"

tasks:
  - id: loop_through_months
    type: io.kestra.plugin.core.flow.ForEach
    values: ["01", "02", "03", "04", "05", "06", "07"]
    tasks:
      - id: save_month
        type: io.kestra.plugin.core.execution.SetVariables
        variables:
          current_month: "{{ taskrun.value }}"

      - id: loop_through_taxis
        type: io.kestra.plugin.core.flow.ForEach
        values: ["green", "yellow"]
        tasks:
          - id: save_taxi
            type: io.kestra.plugin.core.execution.SetVariables
            variables:
              current_taxi: "{{ taskrun.value }}"
          - id: set_variables
            type: io.kestra.plugin.core.execution.SetVariables
            variables:
                file: "{{vars.current_taxi}}_tripdata_{{inputs.year}}-{{vars.current_month ~ '.csv'}}"
                gcs_file: "gs://{{kv('GCP_BUCKET_NAME')}}/{{vars.current_taxi}}_tripdata_{{inputs.year}}-{{vars.current_month}}.csv"
                table: "{{kv('GCP_DATASET')}}.{{vars.current_taxi}}_tripdata_{{inputs.year}}_{{vars.current_month}}"
          - id: set_label
            type: io.kestra.plugin.core.execution.Labels
            labels:
              file: "{{render(vars.file)}}"
              taxi: "{{vars.current_taxi}}"

          - id: extract
            type: io.kestra.plugin.scripts.shell.Commands
            outputFiles:
              - "{{ render(vars.file) }}"
            taskRunner:
              type: io.kestra.plugin.core.runner.Process
            commands:
               - wget -qO- https://github.com/DataTalksClub/nyc-tlc-data/releases/download/{{vars.current_taxi}}/{{render(vars.file)}}.gz | gunzip > {{render(vars.file)}}

          - id: debug
            type: io.kestra.plugin.core.log.Log
            message: "{{outputs['extract'][vars.current_month][vars.current_taxi].outputFiles}}"

          - id: set_data_path
            type: io.kestra.plugin.core.execution.SetVariables
            variables:
              data: "{{outputs['extract'][vars.current_month][vars.current_taxi].outputFiles[render(vars.file)]}}"
              #data: "outputs.{{vars.current_taxi}}.extract.outputFiles[render(vars.file)]"
              
          - id: upload_to_gcs
            type: io.kestra.plugin.gcp.gcs.Upload
            from: "{{render(vars.data)}}"
            to: "{{render(vars.gcs_file)}}"

          - id: if_yellow_taxi
            type: io.kestra.plugin.core.flow.If
            condition: "{{ vars.current_taxi  == 'yellow'}}" 
            then:
              - id: process_yellow
                type: io.kestra.plugin.core.flow.Subflow
                namespace: zoomcamp
                flowId: process_yellow_taxi
                inputs:
                  file: "{{render(vars.file)}}"
                  table: "{{render(vars.table)}}"
                  gcs_file: "{{render(vars.gcs_file)}}"

          - id: if_green_taxi
            type: io.kestra.plugin.core.flow.If
            condition: "{{ vars.current_taxi  == 'green'}}"
            then:
              - id: process_green
                type: io.kestra.plugin.core.flow.Subflow
                namespace: zoomcamp
                flowId: process_green_taxi
                inputs:
                  file: "{{render(vars.file)}}"
                  table: "{{render(vars.table)}}"
                  gcs_file: "{{render(vars.gcs_file)}}"


  - id: purge_files
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles
    description: If you'd like to explore Kestra outputs, disable it.
    disabled: false

pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{kv('GCP_CREDS')}}"
      projectId: "{{kv('GCP_PROJECT_ID')}}"
      location: "{{kv('GCP_LOCATION')}}"
      bucket: "{{kv('GCP_BUCKET_NAME')}}"